@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = "_Layout";
}
<h1 class="text-center" >wellcome forget page</h1>
<div class="container text-warning mt-4">
    <div class="row">
    <div class="col-lg-4 col-md-8 col-sm-12">
         
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12">
        <form>
        <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> Enter your Email Or Phone</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">your enter email or phone when you forgeted password.</div>
  </div>
  <a class="nav-link active" asp-area="" asp-controller="" asp-action="">Click</a>
  </form>  
    </div>
    </div>
</div>