@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center text-danger ">table form</h1>
<table class="table  mt-4">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-white">Date</th>
      <th scope="col" class="text-white">age</th>
      <th scope="col" class="text-white">Password</th>
      <th scope="col" class="text-white">Username</th>
      <th scope="col"class="text-white">Mobile</th>
      <th scope="col"class="text-white">Faculty</th>
      <th scope="col"class="text-white">Gender</th>
      <th scope="col"class="text-white">Address</th>
      <th scope="col"class="text-white">EducationLavel</th>
      <th scope="col"class="text-white">Stutus</th>
      <th scope="col"class="text-white">File</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">4</th>
      <td class="text-primary">21/7/2022</td>
      <td class="text-primary">34</td>
      <td class="text-primary">920920</td>
      <td class="text-primary">moha5456</td>
      <td class="text-primary">56666</td>
      <td class="text-primary">Camputer</td>
      <td class="text-primary">Male</td>
      <td class="text-primary">hodan kpp</td>
      <td class="text-primary">MasterDegree</td>
      <td><button type="button" class="btn btn-info"><i class="fas fa-arrow-alt-to-bottom"></i>Accept</button>
            <button type="button" class="btn btn-warning">Reject</button></td>
      <td><button type="button" class="btn btn-danger">Download</button></td>
    </tr>
    <tr>
      <th scope="row">5</th>
     <td class="text-primary">21/7/2022</td>
      <td class="text-primary">34</td>
      <td class="text-primary">920920</td>
      <td class="text-primary">moha5456</td>
      <td class="text-primary">56666</td>
      <td class="text-primary">Camputer</td>
      <td class="text-primary">Male</td>
      <td class="text-primary">hodan kpp</td>
      <td class="text-primary">MasterDegree</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td class="text-primary">21/7/2022</td>
      <td class="text-primary">34</td>
      <td class="text-primary">920920</td>
      <td class="text-primary">moha5456</td>
      <td class="text-primary">56666</td>
      <td class="text-primary">Camputer</td>
      <td class="text-primary">Male</td>
      <td class="text-primary">hodan kpp</td>
      <td class="text-primary">MasterDegree</td>
    </tr>
  </tbody>
</table>

